<mat-card class="dialog">
  <mat-card-title>
    <h1>Projects</h1>
  </mat-card-title>
  <mat-card-content>
    <div class="project_list">
      <div class="project_line" *ngFor="let project of projects" >
        <label>{{project.name}}</label>
        <button mat-raised-button color="primary" (click)="onEvolveProject(project.name)">
          Evolve
        </button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-raised-button color="accent" (click)="onNewProject()">
        Create Project
      </button>
    </div>
  </mat-card-actions>
</mat-card>
